# Number letter counts

# Problem 17
If the numbers 1 to 5 are written out in words: one, two, three, four, five, then there are 3 + 3 + 5 + 4 + 4 = 19 letters used in total.

If all the numbers from 1 to 1000 (one thousand) inclusive were written out in words, how many letters would be used?


NOTE: Do not count spaces or hyphens. For example, 342 (three hundred and forty-two) contains 23 letters and 115 (one hundred and fifteen) contains 20 letters. The use of "and" when writing out numbers is in compliance with British usage.

# Solution 17

In [74]:
d = {1:"one",2:"two",3:"three",4:"four",5:"five",6:"six",7:"seven",8:"eight",9:"nine",10:"ten",11:"eleven",12:"twelve",13:"thirteen",14:"fourteen",15:"fifteen",16:"sixteen",17:"seventeen",18:"eighteen",19:"nineteen",20:"twenty",30:"thirty",40:"fourty",50:"fifty",60:"sixty",70:"seventy",80:"eighty",90:"ninety",100:"one hundred",1000:"one thousand",1000000:"one million"}

In [79]:
def write_num_word(n):
    keys = d.keys()
    for i in keys:
        if i==n: return d[n]
    num_str = str(n)
    l = len(num_str) 
    if l == 2:
        d_k1 = int(num_str[0]+'0')
        d_k2 = int(num_str[1])
        return d[d_k1] + "-" + d[d_k2]
    elif l == 3:
        hundred = d[100].replace("one ","")
        d_k1 = int(num_str[0])
        d_k2 = int(num_str[1:])
        return d[d_k1]+" "+ hundred+" and " + write_num_word(d_k2)
    elif l==4:
        thousand = d[1000].replace("one ","")
        d_k1 = int(num_str[0])
        d_k2 = int(num_str[1:])
        return write_num_word(d_k1)+" "+ thousand+" " + write_num_word(d_k2)
        
    elif l==6:
        thousand = d[1000].replace("one ","")
        d_k1 = int(num_str[0:3])
        d_k2 = int(num_str[3:6])
        return write_num_word(d_k1)+" "+ thousand+" " + write_num_word(d_k2)

In [80]:
write_num_word(3585)

'three thousand five hundred and eighty-five'

In [82]:
"aaaa".replace("aa","")

''

In [65]:
"one hundred".replace("one ","")

'hundred'