# Sum square difference
# Problem 6:
The sum of the squares of the first ten natural numbers is,

1^2 + 2^2 + ... + 10^2 = 385. The square of the sum of the first ten natural numbers is, (1 + 2 + ... + 10)^2 = 55^2 = 3025.

Hence the difference between the sum of the squares of the first ten natural numbers and the square of the sum is 3025 âˆ’ 385 = 2640.

Find the difference between the sum of the squares of the first one hundred natural numbers and the square of the sum.

# Solution 6:

In [1]:
def sum_of_sqr(n):
    total = 0
    for i in range(1,n+1):
        total += i*i
    return total

In [3]:
sum_of_sqr(10)

385

In [4]:
def sum_of_num(n):
    total = 0
    for i in range(1,n+1):
        total += i
    return total

In [7]:
sum_of_num(10)**2

3025

In [8]:
def diff(n):
    a = sum_of_sqr(n)
    b = sum_of_num(n)**2
    return abs(a-b)

In [12]:
diff(10)

2640

In [13]:
diff(100)

25164150