# Maximum path sum I

# Problem 18

By starting at the top of the triangle below and moving to adjacent numbers on the row below, the maximum total from top to bottom is 23.

                      3
                     7 4
                    2 4 6
                   8 5 9 3

That is, 3 + 7 + 4 + 9 = 23.

Find the maximum total from top to bottom of the triangle below:

                     75
                    95 64
                  17 47 82
                 18 35 87 10
                20 04 82 47 65
              19 01 23 75 03 34
             88 02 77 73 07 63 67
            99 65 04 28 06 16 70 92
          41 41 26 56 83 40 80 70 33
         41 48 72 33 47 32 37 16 94 29
        53 71 44 65 25 43 91 52 97 51 14
       70 11 33 28 77 73 17 78 39 68 17 57
      91 71 52 38 17 14 91 43 58 50 27 29 48
     63 66 04 68 89 53 67 30 73 16 69 87 40 31
    04 62 98 27 23 09 70 98 73 93 38 53 60 04 23

NOTE: As there are only 16384 routes, it is possible to solve this problem by trying every route. However, Problem 67, is the same challenge with a triangle containing one-hundred rows; it cannot be solved by brute force, and requires a clever method! ;o)

# Solution 18

In [1]:
mini_tri = [[3,0,0,0],[7,4,0,0],[2,4,6,0],[8,5,9,3]]

In [2]:
triangle = [[75,'','','','','','','','','','','','','',''],[95,64,'','','','','','','','','','','','',''],[17,47,82,'','','','','','','','','','','',''],[18,35,87,10,'','','','','','','','','','',''],[20,4,82,47,65,'','','','','','','','','',''],[19,1,23,75,3,34,'','','','','','','',''],[88,2,77,73,7,63,67,'','','','','','','',''],[99,65,4,28,6,16,70,92,'','','','','','',''],[41,41,26,56,83,40,80,70,33,'','','','','',''],[41,48,72,33,47,32,37,16,94,29,'','','','',''],[53,71,44,65,25,43,91,52,97,51,14,'','','',''],[70,11,33,28,77,73,17,78,39,68,17,57,'','',''],[91,71,52,38,17,14,91,43,58,50,27,29,48,'',''],[63,66,4,68,89,53,67,30,73,16,69,87,40,31,''],[4,62,98,27,23,9,70,98,73,93,38,53,60,4,23]]

In [3]:
def print_triangle(triangle):
    for i in range(len(triangle)):
        for j in range(i+1):
            print("%02i"%triangle[i][j],end=" ")
        print("\n")

In [4]:
print_triangle(mini_tri)

03

07 04

02 04 06

08 05 09 03

In [5]:
print_triangle(triangle)

75

95 64

17 47 82

18 35 87 10

20 04 82 47 65

19 01 23 75 03 34

88 02 77 73 07 63 67

99 65 04 28 06 16 70 92

41 41 26 56 83 40 80 70 33

41 48 72 33 47 32 37 16 94 29

53 71 44 65 25 43 91 52 97 51 14

70 11 33 28 77 73 17 78 39 68 17 57

91 71 52 38 17 14 91 43 58 50 27 29 48

63 66 04 68 89 53 67 30 73 16 69 87 40 31

04 62 98 27 23 09 70 98 73 93 38 53 60 04 23

In [6]:
def max_path_sum(triangle):
    s = triangle[0][0]
    l = [s]
    j=0
    for i in range(len(triangle)-1):
        a = triangle[i+1][j]
        b = triangle[i+1][j+1]
        if a < b: 
            s += b
            l.append(b)
            j += 1
        else: 
            s += a
            l.append(a)
    return l,s

In [7]:
max_path_sum(mini_tri)

([3, 7, 4, 9], 23)

In [8]:
max_path_sum(triangle)

([75, 95, 47, 87, 82, 75, 73, 28, 83, 47, 43, 73, 91, 67, 98], 1064)